.social
  p
    .columns
      .column
        a.button.is-fullwidth(href="/auth/facebook" rel="nofollow")
          span.icon
            .fa.fa-facebook
          span Connect with 
          span &nbsp;
          strong Facebook
      .column
        a.button.is-fullwidth(href="/auth/twitter" rel="nofollow")
          span.icon
            .fa.fa-twitter
          span Connect with 
          span &nbsp;
          strong  Twitter
