.columns
  .column
    a.button.is-fullwidth(href="/auth/facebook" rel="nofollow")
      span.icon
        font-awesome-icon(:icon=["fab", "facebook"])
      span Connect with 
      span &nbsp;
      strong Facebook
  .column
    a.button.is-fullwidth(href="/auth/twitter" rel="nofollow")
      span.icon
        font-awesome-icon(:icon=["fab", "twitter"])
      span Connect with 
      span &nbsp;
      strong Twitter
