/.git
/.bundle
/.circleci
/.github

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/config/master.key

/storage/*
!/storage/.keep

/app/assets/builds/*
!/app/assets/builds/.keep

/public/assets/*
!/public/assets/.keep

/coverage
/doc

/node_modules
