form(v-on:submit.prevent="submit" noform.validate)
  p.help.is-danger(v-if="form.errors.has('base')") {{ form.errors.get('base') | sentence }}
  .field
    label.label Name
    p.control.has-icons-left.has-icons-right
      input.input(name="signup[name]" type="text" placeholder="Name" 
        v-model="form.name" 
        v-bind:class="{ 'is-success': form.valid('name'), 'is-danger': form.invalid('name') }")
      span.icon.is-small.is-left
        font-awesome-icon(icon="info")
      span.icon.is-small.is-right
        font-awesome-icon(icon="check-square" v-if="form.valid('name')")
        font-awesome-icon(icon="exclamation-circle" v-if="form.invalid('name')")
    p.help.is-danger(v-if="form.errors.has('name')") {{ form.errors.get('name') | sentence }}
  .field
    label.label Email
    p.control.has-icons-left.has-icons-right
      input.input(name="signup[email]" type="email" placeholder="Email" 
        v-model="form.email" 
        v-bind:class="{ 'is-success': form.valid('email'), 'is-danger': form.invalid('email') }")
      span.icon.is-small.is-left
        font-awesome-icon(icon="envelope")
      span.icon.is-small.is-right
        font-awesome-icon(icon="check-square" v-if="form.valid('email')")
        font-awesome-icon(icon="exclamation-circle" v-if="form.invalid('email')")
    p.help.is-danger(v-if="form.errors.has('email')") {{ form.errors.get('email') | sentence }}
  .field
    label.label Password
    p.control.has-icons-left.has-icons-right
      input.input(name="signup[password]" type="password" placeholder="Password" 
        v-model="form.password" 
        v-bind:class="{ 'is-success': form.valid('password'), 'is-danger': form.invalid('password') }")
      span.icon.is-small.is-left
        font-awesome-icon(icon="lock")
      span.icon.is-small.is-right
        font-awesome-icon(icon="check-square" v-if="form.valid('password')")
        font-awesome-icon(icon="exclamation-circle" v-if="form.invalid('password')")
    p.help.is-danger(v-if="form.errors.has('password')") {{ form.errors.get('password') | sentence }}
  .field
    .control
      button.button.is-primary Signup
