.template
  header
    nav.navbar.is-light
      .navbar-brand
        router-link.navbar-item(:to="{ name: 'home' }" active-class="is-active" exact) Playground
        .navbar-burger.burger
          span
          span
          span
      .navbar-menu
        router-link.navbar-item(:to="{ name: 'home' }" active-class="is-active" exact) Home
        template(v-if="!authenticated")
          router-link.navbar-item(:to="{ name: 'login' }" active-class="is-active" exact) Login
          router-link.navbar-item(:to="{ name: 'signup' }" active-class="is-active" exact) Signup
        template(v-if="authenticated")
          a.navbar-item(v-on:click.stop.prevent="logout()") Logout

  router-view

  footer.footer
    .container
      .content.has-text-centered
        span by 
        a(href="https://ksylvest.com") Kevin Sylvestre
