version: 2.1

orbs:
  browser-tools: circleci/browser-tools@0.1.4

executors:
  default:
    docker:
      - image: circleci/ruby:2.7.1-node
      - image: circleci/postgres:12.1-alpine-ram
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: playground_test
      - image: circleci/redis:5.0.7-alpine
    environment:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 4
      BUNDLE_PATH: vendor/bundle
      BUNDLER_VERSION: 2.1.4
      RAILS_ENV: test
      RACK_ENV: test
      PGHOST: localhost

jobs:
  bundle:
    executor: default
    steps:
      - checkout
      - run: gem install bundler --version "$BUNDLER_VERSION"
      - restore_cache:
          keys:
            - bundler-{{ arch }}-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install  --clean --deployment
      - save_cache:
          key: bundler-{{ arch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - persist_to_workspace:
          root: .
          paths:
            - vendor/bundle

  yarn:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - yarn-{{ arch }}-{{ checksum "yarn.lock" }}
      - run: yarn install
      - save_cache:
          key: yarn-{{ arch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - node_modules
      - persist_to_workspace:
          root: .
          paths:
            - node_modules

  compile:
    executor: default
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: gem install bundler --version "$BUNDLER_VERSION"
      - run: bundle check || bundle install  --clean --deployment
      - run: bundle exec rails webpacker:compile
      - persist_to_workspace:
          root: .
          paths:
            - tmp/cache/webpacker
            - public/packs*

  tslint:
    executor: default
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          command: yarn run tslint ./app/**/*.ts*

  rubocop:
    executor: default
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: gem install bundler --version "$BUNDLER_VERSION"
      - run: bundle check || bundle install  --clean --deployment
      - run:
          command: bundle exec rubocop --format progress --format html --out tmp/rubocop.html
      - store_artifacts:
          path: tmp/rubocop.html
          destination: rubocop.html

  brakeman:
    executor: default
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: gem install bundler --version "$BUNDLER_VERSION"
      - run: bundle check || bundle install  --clean --deployment
      - run:
          command: bundle exec brakeman -z --format html --output tmp/brakeman.html
      - store_artifacts:
          path: tmp/brakeman.html
          destination: brakeman.html

  rspec:
    executor: default
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: gem install bundler --version "$BUNDLER_VERSION"
      - run: bundle check || bundle install  --clean --deployment
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run: dockerize -wait tcp://localhost:6379 -timeout 2m # Redis
      - run: dockerize -wait tcp://localhost:5432 -timeout 2m # Postgres
      - run:
          command: |
            bundle exec rspec \
              --profile \
              --format RspecJunitFormatter \
              --out tmp/results/rspec.xml \
              --format progress \
              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split)
      - store_test_results:
          path: tmp/results
      - store_artifacts:
          path: coverage
          destination: coverage
      - store_artifacts:
          path: tmp/screenshots
          destination: screenshots
      - store_artifacts:
          path: log
          destination: log
      -
        run:
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-$CC_TEST_REPORTER_VERSION > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter format-coverage -t simplecov coverage/.resultset.json
            ./cc-test-reporter upload-coverage

  codegen:
    executor: default
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: gem install bundler --version "$BUNDLER_VERSION"
      - run: bundle check || bundle install  --clean --deployment
      - run: bundle exec rake graphql:schema:generate
      - run: yarn run graphql:codegen
      - store_artifacts:
          path: tmp/brakeman.html
          destination: brakeman.html

workflows:
  version: 2.1
  build:
    jobs:
      - bundle
      - yarn
      - compile:
          requires:
            - bundle
            - yarn
      - tslint:
          requires:
            - yarn
      - brakeman:
          requires:
            - bundle
      - rubocop:
          requires:
            - bundle
      - rspec:
          requires:
            - compile
      - codegen:
          requires:
            - compile
