version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.1.3
  node: circleci/node@4.2.0
  ruby: circleci/ruby@1.1.2

executors:
  default:
    docker:
      - image: cimg/ruby:3.0.0-node
      - image: circleci/postgres:13-ram
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: playground_test
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: circleci/redis:6-alpine
    environment:
      RAILS_ENV: test
      RACK_ENV: test
      PGHOST: localhost

jobs:
  eslint:
    executor: default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn run eslint ./app/packs --ext .js,.jsx,.ts,.tsx

  rubocop:
    executor: default
    steps:
      - checkout
      - ruby/install-deps
      - ruby/rubocop-check

  brakeman:
    executor: default
    steps:
      - checkout
      - ruby/install-deps
      - run: bundle exec brakeman -z --format html --output tmp/brakeman.html
      - store_artifacts:
          path: tmp/brakeman.html
          destination: brakeman.html

  rspec:
    executor: default
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install imagemagick
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - ruby/install-deps
      - node/install-packages:
          pkg-manager: yarn
      - run: dockerize -wait tcp://localhost:6379 -timeout 2m # Redis
      - run: dockerize -wait tcp://localhost:5432 -timeout 2m # Postgres
      - ruby/rspec-test
      - run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-$CC_TEST_REPORTER_VERSION > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter format-coverage -t simplecov coverage/coverage.json
          ./cc-test-reporter upload-coverage

  codegen:
    executor: default
    steps:
      - checkout
      - ruby/install-deps
      - node/install-packages:
          pkg-manager: yarn
      - run: bundle exec rake graphql:schema:generate
      - run: yarn run graphql:codegen
      - run: |
          if [[ $(git diff app/graphql/app_schema.graphql app/webpack/app_schema.tsx) ]]; then
            echo '`bundle exec rake graphql:schema:generate`'
            echo '`yarn run graphql:codegen`'
            git diff app/graphql/app_schema.graphql app/webpack/app_schema.tsx
            exit 1
          fi

  packwerk:
    executor: default
    steps:
      - checkout
      - ruby/install-deps
      - run: bin/packwerk validate

workflows:
  version: 2.1
  build:
    jobs:
      - eslint
      - brakeman
      - rubocop
      - rspec
      - codegen
      - packwerk
