= render 'entry', path: root_url, frequency: 'weekly', priority: 1.0
= render 'entry', path: login_url, frequency: 'weekly', priority: 1.0
= render 'entry', path: signup_url, frequency: 'weekly', priority: 1.0
