.section
  form(v-on:submit.prevent="submit" noform.validate)
    .field
      label.label Card
      p.control.has-icons-left.has-icons-right
        input.input(name="checkout[card]" type="text" placeholder="Number")
        span.icon.is-small.is-left
          i.fa.fa-credit-card
    .field
      .control
        button.button.is-primary Login
