# 'rails secret'
secret_key_base:

# https://aws.amazon.com/
aws_access_key_id:
aws_secret_access_key:

# https://ipstack.com/
ipstack_access_key:

# https://www.mapbox.com/
mapbox_access_token:

# https://sentry.io/
sentry_dsn:

# https://stripe.com/
stripe_publishable_key: ...
stripe_secret_key:
