form(v-on:submit.prevent="submit" novalidate)
  .field
    label.label Email
    p.control.has-icons-left.has-icons-right
      input.input(name="login[email]" type="email" placeholder="Email" v-model="email" v-bind:class="{ 'is-danger': errors.email, 'is-success': !errors.email }")
      span.icon.is-small.is-left
        i.fa.fa-envelope
      span.icon.is-small.is-right
        i.fa.fa-warning(v-if="errors.email")
        i.fa.fa-check(v-else)
    p.help.is-danger(v-if="errors.email") {{ errors.email | sentence }}
  .field
    label.label Password
    p.control.has-icons-left.has-icons-right
      input.input(name="login[password]" type="password" placeholder="Password" v-model="password" v-bind:class="{ 'is-danger': errors.password, 'is-success': !errors.password }")
      span.icon.is-small.is-left
        i.fa.fa-lock
      span.icon.is-small.is-right
        i.fa.fa-warning(v-if="errors.password")
        i.fa.fa-check(v-else)
    p.help.is-danger(v-if="errors.password") {{ errors.password | sentence }}
  .field
    .control
      button.button.is-primary Login
