.section
  .tabs
    ul
      router-link(:to="{ name: 'login' }" tag="li" active-class="is-active" exact) 
        a Login
      router-link(:to="{ name: 'signup' }" tag="li" active-class="is-active" exact) 
        a Signup

  social

  router-view
