.template
  header
    nav.nav.has-shadow
      .nav-logo.nav-left
        router-link.nav-item(:to="{ name: 'home' }" active-class="is-active" exact) Playground
      .nav-toggle
        span
        span
        span
      .nav-menu.nav-right
        router-link.nav-item(:to="{ name: 'home' }" active-class="is-active" exact) Home
        router-link.nav-item(:to="{ name: 'login' }" active-class="is-active" exact) Login
        router-link.nav-item(:to="{ name: 'signup' }" active-class="is-active" exact) Signup

  router-view

  footer.footer
    .container
      .content.has-text-centered
        span by 
        a(href="https://ksylvest.com") Kevin Sylvestre
